<a href="https://colab.research.google.com/github/divyansh-tripathi7/ml_ps/blob/main/titanicSurvial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
import numpy as np
import pandas as pd

In [65]:
from google.colab import files

In [66]:
uploaded = files.upload()

Saving titanicSurvivor.csv to titanicSurvivor (3).csv

In [67]:
dataset = pd.read_csv('titanicSurvivor.csv')
dataset

      Passengerid   Age      Fare  Sex  Pclass  Survived
0               1  22.0    7.2500    0       3         0
1               2  38.0   71.2833    1       1         1
2               3  26.0    7.9250    1       3         1
3               4  35.0   53.1000    1       1         1
4               5  35.0    8.0500    0       3         0
...           ...   ...       ...  ...     ...       ...
1304         1305  28.0    8.0500    0       3         0
1305         1306  39.0  108.9000    1       1         0
1306         1307  38.5    7.2500    0       3         0
1307         1308  28.0    8.0500    0       3         0
1308         1309  28.0   22.3583    0       3         0

[1309 rows x 6 columns]

In [68]:
dataset.head(5)

   Passengerid   Age     Fare  Sex  Pclass  Survived
0            1  22.0   7.2500    0       3         0
1            2  38.0  71.2833    1       1         1
2            3  26.0   7.9250    1       3         1
3            4  35.0  53.1000    1       1         1
4            5  35.0   8.0500    0       3         0

In [69]:

X = dataset.drop('Passengerid', axis ='columns')

In [70]:
X = X.drop('Survived', axis ='columns')

In [71]:
X

       Age      Fare  Sex  Pclass
0     22.0    7.2500    0       3
1     38.0   71.2833    1       1
2     26.0    7.9250    1       3
3     35.0   53.1000    1       1
4     35.0    8.0500    0       3
...    ...       ...  ...     ...
1304  28.0    8.0500    0       3
1305  39.0  108.9000    1       1
1306  38.5    7.2500    0       3
1307  28.0    8.0500    0       3
1308  28.0   22.3583    0       3

[1309 rows x 4 columns]

In [72]:
Y = dataset.Survived
Y

0       0
1       1
2       1
3       1
4       0
       ..
1304    0
1305    0
1306    0
1307    0
1308    0
Name: Survived, Length: 1309, dtype: int64

In [73]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train, Y_test = train_test_split(X,Y,test_size= 0.25, random_state=42)

In [74]:
# from sklearn.preprocessing   import StandardScaler
# sc = StandardScaler()

# X_train = sc.fit_transform(X_train)
# X_test = sc.transform(X_test)

In [75]:
X.columns[X.isna().any()]

Index([], dtype='object')

In [86]:
from sklearn.naive_bayes import MultinomialNB
model= MultinomialNB()
model.fit(X_train,Y_train)

MultinomialNB()

In [79]:


age = int(input(" enter age: "))
fare = float(input(" enter fare: "))
sex = int(input(" enter sex: "))         
Pclass = int(input(" enter pclass: "))      

person = [[age, fare,sex, Pclass]]
result = model.predict(person)
print(result)

if result == 1 :
 print("person may have survived")
if result == 0:
  print("person may have perished")

 enter age: 31
 enter fare: 75
 enter sex: 1
 enter pclass: 1
[1]
person may have survived

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  "X does not have valid feature names, but"

In [87]:
Y_pred = model.predict(X_test)

In [88]:
from sklearn.metrics import accuracy_score
print("accuracy of model is {0}%".format(accuracy_score(Y_test , Y_pred)*100))

accuracy of model is 72.2560975609756%